<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Burbon</h1>
    <p>Welcome To The Best <%= title.toLowerCase() %></p>
    <ul>
      <% alcohol.forEach(function(alcohol) { %>
        <li>
          <a href="/alcohol/<%= alcohol.id %>"><%= alcohol.make %></a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
