<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>New Alcohol</h1>
    <form action="/alcohols" method="POST">
    <input type="text" name="name" value="New alcohol">
    <button type="submit">Save alcohol</button>
    </form>
</body>
</html>











